<!DOCTYPE html>
<html>
	<head>
		<title>Controller | ng-book</title>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	</head>
	<body >
		<div ng-app="app">

			<div ng-controller="firstController">
				<h4>Simple adding</h4>
				<button class="button" ng-click="add(1)">Add</button>
				<a href class="button alert" ng-click="substrack(1)">Substrack</a>
				<h4>Current count: {{counter}}</h4>
			</div>

			
			
			<div ng-controller="MyController">
				<h1>{{person}}</h1>
				and their name:
				<h2>{{person.name}}</h2>
			</div>
			
		</div>
		<script type="text/javascript" src="js/firstController.js"></script>
	</body>
</html>